.movie-card {
  display: block;
  width: 150px;
  text-align: center;
  margin: 1rem;
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.movie-card img {
  width: 100%;
  border-radius: 6px;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-info h3 {
  font-size: 1rem;
  margin: 0.5rem 0 0;
}

.movie-info p {
  font-size: 0.8rem;
  color: #ccc;
}